.statisticBlock {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
}

.statisticBlock:last-child {
  margin-bottom: 0;
}

.statisticValue {
  line-height: 30px;
  font-size: 30px;
}

.projectTitle {
  height: 32px;
  display: flex;
  align-items: center;
  color: #555;
}

.projectTitle:hover {
  color: #425cd7;
}
