.container {
  width: 100%;
  padding-top: 4px;
}

.progressBar {
  position: relative;
  height: 12px;
  background-color: var(--y-color-background);
  border-radius: 4px;
  overflow: hidden;
}

.progressBarEmpty {
  border: 1px solid var(--y-color-border);
  background-color: var(--y-color-background);
}

.segment {
  position: absolute;
  height: 100%;
  transition: width 0.3s ease;
}
