.row {
  margin-bottom: 8px;
}

.fileIcon {
  color: #a6a8b5;
  /* TODO VAR */
  font-size: 18px;
}

.nameBlock {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.copyBtn {
  font-size: 16px;
  cursor: pointer;
  color: var(--y-pending-block);
  transition: all 0.1s ease-in;
}

.copyBtn:hover {
  color: var(--y-pending-hover);
}

.removeBtn {
  font-size: 16px;
  cursor: pointer;
  color: var(--y-error-block);
}

.copyBtn:hover {
  color: var(--y-pending-hover);
}

.removeBtn:hover {
  color: var(--y-error-hover);
}
