.fileUpload {
  display: flex;
  flex-direction: row;
  gap: 7px;
  cursor: pointer;
}

.hasAttachments {
  margin-top: 20px;
}

.fileUpload:hover {
  color: var(--y-color-link);
}

.fileUploadIconBlock {
  border-radius: 100%;
  border: 1px solid var(--y-color-control-border);
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
