.searchBlock {
  height: 36px;
  border-bottom: 1px solid var(--y-grey-20);
}

.input {
  height: 100%;
}

.tree :global(.ant-tree-switcher) {
  height: fit-content;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.expanded {
  transform: rotate(0deg);
}
