.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.pictureIcon {
  color: var(--y-color-text-primary);
}

.pictureIcon:hover {
  color: var(--y-color-accent) !important;
}
