.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  margin: 0;
  margin-top: 8px;
  max-height: 52px;
  overflow: hidden;
}

.maxSize {
  max-height: max-content !important;
  overflow: auto;
}

.showButton {
  margin: 12px auto 0 4px !important;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--y-color-accent);
}

.noData {
  margin-top: 8px;
  color: var(--y-color-control-text-disabled);
}
