.suiteArrow path {
  fill: var(--y-color-icon-stepper-arrow);
}

.suiteNameContainer {
  border-bottom: 1px solid var(--y-color-border);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.suiteName {
  color: var(--y-color-bulk-change-label-icon);
  font-size: 16px;
  font-weight: 600;
  user-select: none;
}

.specificFields {
  height: 0;
  overflow: hidden;
}

.isOpen .specificFields {
  height: 100%;
  overflow: inherit;
}

.suiteArrow {
  transition: transform 0.3s;
  transform: rotate(-90deg);
  user-select: none;
}

.isOpen .suiteArrow {
  transform: rotate(0deg);
}

.attachment {
  display: flex;
  align-items: center;
  padding: 20px 147px;
  border: 1px dashed var(--y-сolor-secondary-linear-border);
  white-space: nowrap;
  margin-bottom: 8px;
}

.errorText {
  color: var(--y-error-block);
}

.bulkApplySuiteSpecificToggle {
  margin-top: 32px;
  margin-bottom: 24px;
}
