.actionButton {
  padding: 0;
  border: none;
  box-shadow: none;
}

.actionIcon path {
  fill: var(--y-pending-block);
  transition: fill 0.3s;
}

.actionIcon:hover path {
  fill: var(--y-grey-50);
}

.deleteActionIcon:hover path {
  fill: var(--y-raspberry-3);
}

.confirmAction {
  color: var(--y-green-50);
  transition: color 0.3s;
}

.confirmAction:hover {
  color: var(--y-green-30);
}

.declineAction {
  color: var(--y-raspberry-3);
}
