.container {
  width: 100%;
  display: flex;
  gap: 24px;
}

.infoBlock {
  width: 220px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.title {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}

.infoRow {
  margin: 0;
}
