.wrapper {
  margin: 24px 32px 0 32px;
}

.backBtn {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  color: var(--y-color-secondary-inline);
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.title {
  font-size: 26px;
  margin: 0 !important;
  line-height: 32px !important;
}

.backBtn:hover {
  color: var(--y-color-secondary-inline-hover);
}
