.colRight {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnShowArchive {
  margin-bottom: 14px;
  margin-top: 34px;
}

.btnClear {
  margin-bottom: 16px;
  display: flex;
  justify-content: right;
}
