.colRight {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnShowArchive {
  margin-bottom: 14px;
  margin-top: 34px;
  margin-left: auto;
}

.btnsRow {
  margin-bottom: 16px;
  display: flex;
  justify-content: right;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
  padding-left: 0;
}
