.treeBlock :global(.ant-tree-node-content-wrapper) {
  display: flex !important;
}

.switcher {
  margin-bottom: 8px;
}

.filterBtn {
  margin-left: 8px;
}

.row {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
  white-space: nowrap;
}

.rowWithThree {
  grid-template-columns: 80px 1fr 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  padding: 0 4px;
}
.filterBtn {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--y-grey-20);
}

.archivedRow {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.labelWrapper {
  display: flex;
}

.labelWrapper > label {
  width: 100%;
}

.fieldLabel {
  display: flex;
  height: 22px;
}

.fieldName {
  font-size: 16px;
  font-weight: 600;
  color: var(--y-color-text-primary-hover);
}

.selectedInfo {
  font-size: 14px;
  font-weight: 400;
  margin-right: 4px;
}

.arrow {
  height: 24px;
  width: 24px;
  transition: all 0.3s;
  color: var(--y-pending-block);
  transform: rotate(-90deg);
}

.arrow.expanded {
  transform: rotate(0);
}
