.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 128px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 16px;
  text-wrap: nowrap;
}

.value {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--y-color-text-primary);
  justify-self: flex-end;
}

.statusIcon {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
