.select-suite-modal .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: white;
  outline: 2px solid #425cd7;
}

.select-suite-modal .ant-modal-content {
  height: 75%;
}

.select-suite-modal .site-tree-search-value {
  color: #efb622;
}

.select-suite-modal .ant-tree {
  overflow: auto;
  height: 540px;
}

.select-suite-modal .ant-tree-list {
  margin-top: 10px;
}
