.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  height: 76px;
  top: 0;
  background-color: var(--y-secondary-color-background);
  z-index: 1000;
  margin-bottom: 12px;
}

.searchBlock {
  max-width: 350px;
  width: 100%;
}

.row {
  margin-left: 8px;
  margin-right: auto;
}

.searchIcon {
  color: rgba(0, 0, 0, 0.45);
  transform: rotate(90deg);
}

.viewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  color: var(--y-color-text-tertiary);
  outline: 1px solid transparent;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
}

.viewBtn:hover {
  color: var(--y-color-text-secondary);
}

.viewBtn:focus {
  outline-color: var(--y-color-accent);
}

.viewBtn.active {
  border-color: var(--y-color-border);
  outline-color: transparent;
  color: var(--y-color-text-secondary);
}
