.button {
  min-height: 64px;
  border-color: var(--y-color-control-border);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  border-style: dashed;
}

.button:hover {
  border-color: var(--y-color-control-border-hover);
  background-color: transparent;
}
