.dividerWrapper {
  width: 5px;
  cursor: ew-resize;
  user-select: none;
  display: flex;
  justify-content: center;
}

.dividerWrapper.focus {
  background-color: var(--y-color-accent);
}

.divider {
  width: 1px;
  background-color: var(--y-color-divider);
}

.focus .divider {
  background-color: var(--y-color-accent);
}
