.ghostClass {
  background-color: #e6f4ff;
}

.line {
  height: 1px;
  background-color: var(--y-color-divider);
  display: flex;
  flex: 1 1;
  align-self: center;
  margin: 3px 4px 0;
}

.label {
  font-weight: 600;
  font-size: 16px;
  margin-right: 16px;
}

.labelButton {
  color: var(--y-secondary-color-text-tertiary);
  font-weight: 400;
  text-transform: none;
  background: none !important;
  padding: 0;
  height: 24px;
  margin-right: 4px;
  gap: 4px;
}

.labelButton span svg path {
  fill: var(--y-secondary-color-text-tertiary);
  transition: fill 0.1s;
}

.labelButton:hover span svg path {
  fill: var(--y-color-accent);
}

.labelButton:hover {
  color: var(--y-color-accent) !important;
}
