.collapseBlock {
  color: var(--y-color-text-primary);
}

.collapseBlockHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 16px;
}

.collapseBlockTitle {
  line-height: 24px;
  font-weight: 600;
  font-size: 18px;
  color: var(--y-color-text-primary);
}
