.actionBtn {
  width: 32px;
  height: 32px;
  color: var(--y-color-link);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.actionBtn svg {
  color: var(--y-color-secondary-inline);
  cursor: pointer;
}

.actionBtn:hover svg {
  color: var(--y-color-secondary-inline-hover);
}

.filterMenuList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filterMenuListItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 32px;
  cursor: pointer;
  padding: 0 12px;
  gap: 4px;
}

.filterMenuListItem:hover {
  background-color: var(--y-color-background-alternative);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  height: 24px;
  width: 24px;
  color: var(--y-color-text-primary);
}

.delete {
  color: var(--y-error-block);
}

.delete button {
  color: var(--y-error-block);
}

.renameBtn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--y-color-control-border);
  background: transparent;
  color: var(--y-color-text-primary);
  cursor: pointer;
}

.saveRename {
  color: var(--y-success-block);
}

.renameBtn:hover {
  border-color: var(--y-color-control-border-hover);
}
