.active {
  border: 1px solid var(--y-color-control-border);
}

.disabled {
  background-color: rgba(0, 0, 0, 0.04) !important;
  opacity: 0.7;
}

.disabled:hover {
  color: var(--y-grey-30) !important;
}

.label {
  color: var(--y-color-text-primary);
}

.labelIsRequired::before {
  display: inline-block;
  margin-inline-end: 4px;
  color: #c44d56;
  font-size: 14px;
  line-height: 1;
  content: "*";
}
