.text {
  font-size: 12px;
  text-align: center;
  padding: 0;
  color: var(--y-color-text-secondary);
}

.text a {
  font-weight: 500;
  color: var(--y-color-text-secondary);
  transition: all 0.2s ease-in;
}

.text a:hover {
  color: var(--y-color-text-secondary);
  text-decoration: underline;
}

.underlined {
  text-decoration: underline;
}
