.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  margin: 0;
}

.item {
  border: 1px solid var(--y-color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--y-grey-35);
  fill: var(--y-grey-35);
  padding: 16px;
}

.item svg {
  color: var(--y-grey-30);
}

.itemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.name {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--y-color-text-primary);
}

.active {
  border: 1px solid var(--y-color-accent);
  fill: var(--y-color-accent);
  color: var(--y-color-accent);
}

.active .itemHeader {
  margin-bottom: 20px;
}

.active svg {
  color: var(--y-color-accent);
}

.disabled {
  cursor: default;
}

.disabled {
  opacity: 0.6;
}

.disabled:hover {
  border: 1px solid var(--y-color-border);
}

.active .name {
  color: var(--y-color-accent);
}
