.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--y-color-background);
  width: 100%;
  flex: 1 1 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
}

.header h4 {
  margin-bottom: 0;
}

.table {
  height: 100%;
}
