.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

@media screen and (max-width: 1600px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .list {
    grid-template-columns: 1fr;
  }
}
