.btn {
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  background-color: var(--y-color-background);
  width: 50px;
  height: 50px;
  border: 1px solid var(--y-color-border);
  box-shadow: 0 0 3px 2px rgba(34, 60, 80, 0.2);
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--y-color-text-primary);
}

.btn:hover {
  background-color: var(--y-color-background-alternative);
}

.hide {
  display: none;
}
